<h1>Welcome to Lunch Oracle!</h1>

{{#view SC.ButtonView title="Random" target="LunchOracle.lunchController" action="randomize" }}{{/view}}

{{#view SC.LabelView valueBinding="LunchOracle.lunchController.name"}}{{/view}}
