<h1>Welcome to Lunch Oracle!</h1>

{{#view SC.ButtonView title="Random" action="randomize" }}{{/view}}

<div id="restaurant" >
	{{#view SC.ImageView valueBinding="LunchOracle.lunchController.image" id="restaurantImage" }}{{/view}}
	{{#view SC.LabelView valueBinding="LunchOracle.lunchController.name"}}{{/view}}
</div>